.popup {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	transition: all .3s linear;
}



.popup__input-error {
	color: #FF0000;
	opacity: 0;
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	transition: 0.3s;


    font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

/*нижняя граница у  поля ввода */
.popup__input_type_error {
	border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.popup__error_visible{
	opacity: 1;
}

.popup__form_field {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: column;
	margin: 30px 0;
}


@media (max-width: 800px) {
	.popup__form_field{
		margin: 25px 0;
	}
}
