.place-item__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 20px 31px 18px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0  0 10px 10px;
}

@media screen and (max-width: 800px) {
	.place-item__content {
		margin-bottom: 20px;
		padding-top: 22px;
		padding-bottom: 26px;
	}
}


