.popup__content {
	justify-content: center;
	align-items: center;
	max-width: 430px;
	border-radius: 10px;
	background-color: white;
	padding: 34px 36px 37px;
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

@media (max-width: 800px) {
	.popup__content {
		padding: 25px 22px;
		max-width: 292px;
		margin-top: 123px;
	}
}
