.avatar__text {
	height: 100%;
	margin-left: 24px;
	display: grid;
	grid-template-areas: "title btn" "subtitle subtitle";
	max-width: 336px;
}

@media screen and  (max-width: 800px) {
	.avatar__text {
		justify-items: center;
		margin-top: 22px;
	}
}