.btn_edit {
	width: 24px;
	height: 24px;
	outline: none; /* Для синий ободки */
	border: 0;
	background: transparent url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' stroke='white'/%3E%3Cpath d='M17 8.32827L9.60377 15.7666L8.28302 14.4194L15.6604 7L17 8.32827ZM7 17L8.96226 16.4118L7.58491 15.0835L7 17Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
	transition: opacity 0.3s ease;
	opacity: 1;
}

.btn_edit:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and  (max-width: 800px) {
	.btn_edit {
		width: 18px;
		height: 18px;
		background: transparent url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='17' height='17' stroke='white'/%3E%3Cpath d='M12.75 6.2462L7.20283 11.825L6.21226 10.8145L11.7453 5.25L12.75 6.2462ZM5.25 12.75L6.7217 12.3088L5.68868 11.3126L5.25 12.75Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}
